[submodule "dotfiles/config/nvim/bundle/Vundle.vim"]
	path = dotfiles/config/nvim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "dotfiles/config/bash_it"]
	path = dotfiles/config/bash_it
	url = https://github.com/kevinkjt2000/bash-it.git
[submodule "tmux/plugins/tpm"]
	path = dotfiles/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "asdf"]
	path = asdf
	url = https://github.com/asdf-vm/asdf.git
