[submodule "dotdrop"]
	path = dotdrop
	url = https://github.com/deadc0de6/dotdrop.git
[submodule "dotfiles/config/nvim/bundle/Vundle.vim"]
	path = dotfiles/config/nvim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
